{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password change done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome <span class='text-capitalize'>{{request.user}}</span></h3>
   <div class="col-sm-2 border-end">
    <ul class="list-unstyled">
     <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Change Password Done</a></li>
    
    </ul>
   </div>
   <h3> Password Changed Sucessfully </h3>
  </div>
 </div>
</div>
{% endblock main-content %}